* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
body {
  height: 100vh;
  background: #f0f4f0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 600px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
}
.container h1 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalizes;
  color: #222;
  margin-bottom: 2rem;
}
.container .quote {
  font-size: 1.7rem;
  font-weight: 500;
  color: #444;
  padding: 1.5rem;
  background: #f7f7f7;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.container .input {
  width: 100%;
  height: 20rem;
  border: 1.5px solid #ccc;
  outline: none;
  resize: none;
  margin-bottom: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
}

.container .input:focus {
  border: 2px solid #007bff;
}

.container .stats {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.container .stats p {
  color: #222;
  font-size: 1.7rem;
  font-weight: 500;
}

.container .reset {
  padding: 1.5rem 5rem;
  background: #007bff;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 50px;
}

.container .reset:hover {
  background-color: #0056b3;
}
